<style>
table.bottomBorder {
      border-collapse: collapse;
    }
table.bottomBorder td,
table.bottomBorder th {
      border-bottom: 1px solid lightgray; 
      padding: 10px;
      text-align: left;
</style>








            <!doctype html>
            <html lang="en-US">
            <head>
                <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
                <meta name="description" content="Reset Password Email Template.">
                <style type="text/css">
                    a:hover {text-decoration: underline !important;}
                </style>
            </head>
            
            <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
                <!--100% body table-->
                <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
                    style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">

                    <tr>
                        <td>
                            <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                                align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="height:80px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                      <a href="{{ url_for('public.home', _external=True) }}" title="logo" target="_blank">
                                        <img width="60" src="{{ url_for('static', filename='img/glenberts_main_logo_rect.svg', _external=True) }}" title="logo" alt="logo">
                                      </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:20px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <h2>
                                        {% trans %}Order{% endtrans %}: {{ order.token }}<br>
                                        {% trans %}Order Status{% endtrans %}: {{ order.status_human }}
                                    </h2>
                                    <head>
                                        <title>Purchase</title>
                                    </head>
                                    
                                    <td>
                                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                            style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                            <tr>
                                                <td style="height:40px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <table>
                                                    <tr>
                                                      <th>Product<th>
                                                      <th>Quantity<th>
                                                      <th>Price<th>
                                                    </tr>
                                                        {% for line in order.lines %}
                                                    <tr>
                                                        <td><a class="link--clean" href="{% if line.variant %}{{ line.variant.get_absolute_url() }}{% endif %}">
                                                              <img class="float-left lazyload lazypreload" src="{{ line.variant.product.first_img }}" width="60">
                                                              <span class="order-details__product__description">{{ line.product_name }}</span>
                                                            </a>
                                                        </td>
                                                        <td>x {{ line.quantity }}</td>
                                                        <td>${{ line.get_total() }}</td>
                                                    </tr>
                                                        {% endfor %}
                                                  </table>
                                            </tr>
                                            <tr>
                                                <td style="height:40px;">&nbsp;</td>
                                                <p class="float-right"></p>
                                                {% trans %}Subtotal{% endtrans %}
                                                ${{ order.total_net }}
                                                <br>
                                                {% if order.is_shipping_required %}
                                                    {% trans %}Shipping{% endtrans %}
                                                    ({{ order.shipping_method_name}})
                                                    ${{ order.shipping_price_net }}
                                                {% endif %}
                                                {% if order.discount_amount %}
                                                    <p>{{ order.discount_name }}</p>
                                                    -${{ order.discount_amount  }}
                                                {% endif %}
                                            <h3>
                                                {% trans %}Total{% endtrans %}
                                            </h3>
                                                ${{ order.total  }}
                                                {% if order.is_shipping_required %}
                                                <h3>
                                                    {% trans %}Shipping address{% endtrans %}
                                                </h3>
                                                    {{ order.shipping_address | safe }}
                                                {% endif %}
                                                {% if order.notes %}
                                                    <h2>{% trans %}Your note{% endtrans %}</h2>
                                                    {% for note in order.notes %}
                                                        <p>{{ note.content }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </tr>
                                        </table>
                                    </td>
                                <tr>
                                    <td style="height:20px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy; <strong><a style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;" href="{{ url_for('public.home', _external=True) }}">{{ url_for('public.home', _external=True) }}</a></strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:80px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--/100% body table-->
            </body>
            
            </html>
            