<style>
table.bottomBorder {
      border-collapse: collapse;
    }
table.bottomBorder td,
table.bottomBorder th {
      border-bottom: 1px solid lightgray; 
      padding: 10px;
      text-align: left;
</style>








            <!doctype html>
            <html lang="en-US">
            <head>
                <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
                <meta name="description" content="Order Email Template.">
                <style type="text/css">
                    a:hover {text-decoration: underline !important;}
                </style>
            </head>
            
            <body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
                <!--100% body table-->
                <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
                    style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">

                    <tr>
                        <td>
                            <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                                align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="height:80px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                      <a href="{{ url_for('public.home', _external=True) }}" title="logo" target="_blank">
                                        <img width="176px" height="38px" src="{{ url_for('static', filename='img/glenberts_main_logo_rect.svg', _external=True) }}" title="logo" alt="logo">
                                      </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:20px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <h2>
                                        {% trans %}Order{% endtrans %}: {{ order.token }}<br>
                                        {% trans %}Order Status{% endtrans %}: {{ order.status_human }}
                                    </h2>
                                    <head>
                                        <title>Purchase</title>
                                    </head>
                                    
                                    <td>
                                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                            style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                            <tr>
                                                <td style="height:40px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                               
                                                    <tr>
                                                      <th>Product<th>
                                                      <th>Quantity<th>
                                                      <th>Price<th>
                                                    </tr>
                                                        {% for line in order.lines %}
                                                    <tr>
                                                        <td><a class="link--clean" href="{% if line.variant %}{{ line.variant.get_absolute_url() }}{% endif %}">
                                                              <img class="text-align:left; lazyload lazypreload" src="{{ line.variant.product.first_img }}" width="60">
                                                              <span class="order-details__product__description">{{ line.product_name }}</span>
                                                            </a>
                                                        </td>
                                                        <td style="height:20px;">&nbsp;</td>
                                                        <td>x {{ line.quantity }}</td>
                                                        <td style="height:20px;">&nbsp;</td>
                                                        <td>${{ line.get_total() }}</td>
                                                    </tr>
                                                        {% endfor %}
                                                    <tr style="height:20px;">&nbsp;</tr>    
                                                    <tr style="float:left">
                                                        <th style="font-weight:normal">&nbsp;&nbsp;Subtotal:&nbsp;</th>
                                                        <td> ${{ order.total_net }}</td>
                                                    </tr> 
                                                    <tr style="height:3px;">&nbsp;</tr>  
                                                    {% if order.is_shipping_required %}
                                                    <tr style="float:left">
                                                        <th style="font-weight:normal">&nbsp;&nbsp;Shipping:&nbsp;</th>
                                                        <td> ({{ order.shipping_method_name}})
                                                            ${{ order.shipping_price_net }}
                                                        </td>      
                                                    </tr>   
                                                    {% endif %}

                                                    {% if order.discount_amount %}
                                                    <tr style="height:3px;">&nbsp;</tr>
                                                    <tr style="float:left">
                                                        <th style="font-weight:normal">&nbsp;&nbsp;{{ order.discount_name }}&nbsp;</th>
                                                        <td> -${{ order.discount_amount  }} </td>      
                                                    </tr>   
                                                    {% endif %}
                                                    <tr style="height:5px;">&nbsp;</tr>    
                                                    <tr style="float:left">
                                                        <th>&nbsp;&nbsp;Total:&nbsp;</th>
                                                        <td> ${{ order.total }}</td>
                                                    </tr> 
                                                    {% if order.is_shipping_required %}
                                                    <tr style="height:10px;">&nbsp;</tr>
                                                    <tr style="float:left">
                                                        <th>&nbsp;&nbsp;Shipping address</th>     
                                                    </tr>
                                                    <tr style="height:3px;">&nbsp;</tr>   
                                                    <tr style="text-align:left"><td> {{ order.shipping_address | safe }} </td>  </tr>
                                                    {% endif %}
                                                    {% if order.notes %}
                                                    <tr style="height:3px;">&nbsp;</tr>
                                                    <tr style="float:left">
                                                        <th style="text-decoration: underline">&nbsp;&nbsp;Your note&nbsp;</th>
                                                        {% for note in order.notes %}
                                                        <tr style="height:3px;">&nbsp;</tr>
                                                        <tr style="float:left"><td> <p>&nbsp;&nbsp;{{ note.content }}</p></td> </tr>  
                                                        {% endfor %}    
                                                    </tr>   
                                                    {% endif %}
                                            </tr>

                                        </table>
                                    </td>
                                <tr>
                                    <td style="height:20px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;">
                                        <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">&copy; <strong><a style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;" href="{{ url_for('public.home', _external=True) }}">{{ url_for('public.home', _external=True) }}</a></strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:80px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <!--/100% body table-->
            </body>
            
            </html>
            