{% extends 'dashboard/layout.html' %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-box mb-3">
                            <!-- <span class="info-box-icon bg-success"><i
                                    class="fa fa-shopping-cart"></i></span> -->
                                <div class="info-box-content">
                                    <span class="info-box-text">{% trans %}Deliveries Today{% endtrans %}</span>
                                    <span class="info-box-text"><b>{{ deliveries_today }}</b> {% trans %}today
                                        and{% endtrans %} <b>{{ total_weight }}</b>
                                        {% trans %}Total Pounds{% endtrans %}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mb-3">
                                <!-- <span class="info-box-icon bg-warning"><i class="fa fa-users"></i></span> -->
                                <div class="info-box-content">
                                    <span class="info-box-text">{% trans %}Tides{% endtrans %}</span>
                                    <span class="info-box-text"><b>{{ Tides_total }} {% trans %}Tides Fished, {% endtrans %}
                                        {{ total_deliveries }} {% trans %} Deliveries{% endtrans %}</b> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body p-0">
                            <canvas id="barChart" width="600" height="400"></canvas>
                            <script>
                                var ctx = document.getElementById("barChart").getContext("2d");
                                var barChart = new Chart(ctx, {
                                    type: "horizontalBar",
                                    data: {
                                        labels: {{ permit_labels | safe }}, 
                                        datasets: [{
                                            axis: 'y',
                                            label: "Weights by Permit",
                                            data: {{ permit_values | safe }}, 
                                            fill: false,
                                            backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(255, 159, 64, 0.2)',
                                            'rgba(255, 205, 86, 0.2)',
                                            ],
                                            borderColor:[ 
                                            "rgb(255, 99, 132)", 
                                            'rgb(255, 159, 64)',
                                            'rgb(255, 205, 86)',
                                            ],
                                            lineTension: 0.5
                                            },             
                                            ]
                                    },
                                    options: {
                                        indexAxis: 'y',
                                        responsive: true
                                    }
                                });
                            </script>
 
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">{% trans %}Total Pounds{% endtrans %}</h6>
                        </div>
                        <div class="card-body p-0">
                            <ul class="products-list product-list-in-card px-9">
                                    <li class="item">
                                        <div class="product-info">

                                        </div>
                                    </li>
                            </ul>
                            <canvas id="lineChart" width="680" height="400"></canvas>
                            <script>
                            
                            var ctx = document.getElementById("lineChart").getContext("2d");
                            var lineChart = new Chart(ctx, {
                                type: "line",
                                data: {
                                    labels: {{ labels | safe }}, 
                                    datasets: [
                                        {
                                        label: "Total Weight Per Day",
                                        data: {{ values | safe }}, 
                                        fill: true,
                                        backgroundColor: [
                                        'rgba(0, 130, 255, 0.1)',],
                                        borderColor: "rgba(0, 130, 255, .7)", 
                                        lineTension: 0.5
                                        }
                                   ]
                                },
                                options: {
                                    responsive: true
                                }
                            });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h6 class="card-title">{% trans %}Season Summary{% endtrans %}</h6>
                        </div>
                        <div class="card-body p-0">
 
                            <ul class="activity product-list-in-card px-2">
                                <span class="product-title">
                                    {{ "{:,}".format(season_weight) }} {% trans %}Total Pounds Sold{% endtrans %}
                                </span>
                                <span class="product-description">
                                    {{ "{:,}".format(season_max) }} {% trans %}Biggest Single Delivery{% endtrans %}
                                </span>
                                <span class="product-description">
                                    {{ "{:,}".format(largest_weight) }} {% trans %}Largest Daily Total{% endtrans %}
                                </span>
                                <span class="product-description">
                                    {{ "{:,}".format(average_deliveries) }} {% trans %}Average Delivery{% endtrans %}
                                </span>
                                <li class="item">

                                {{ Tides_total }} {% trans %}Tides Fished{% endtrans %}
                                {{ total_deliveries }} {% trans %}Deliveries{% endtrans %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}


